/* styles.css */

body {
  @apply font-sans;
}

.md {
  @apply px-4 py-8 sm:px-10;
}
/* Typography Styles */
.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
  font-weight: bold;
}

.md p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Links */
.md a {
  color: #3490dc;
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}

.md a:hover {
  color: #1e70b8;
}

/* Lists */
.md ul,
.md ol {
  margin-bottom: 20px;
  @apply flex list-inside flex-col gap-4;
}

.md li {
  font-size: 16px;
  line-height: 1.5;
}

/* Code Blocks */
.md pre {
  background-color: #f6f8fa;
  border-radius: 4px;
  padding: 1em;
  overflow: auto;
  margin-bottom: 20px;
}

.md code {
  font-family: "Fira Code", monospace;
  font-size: 14px;
}

/* Blockquote */
.md blockquote {
  border-left: 4px solid #3490dc;
  padding-left: 20px;
  margin: 0 0 20px;
}

/* Tables */
.md table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.md th,
.md td {
  border: 1px solid #e2e8f0;
  padding: 8px;
  text-align: left;
}
