[data-theme="light"] {
  --color-primary: #e8c7ae;
  --color-secondary: #5a352c;
  --color-text: theme("colors.gray.800");
  --color-text-offset: theme("colors.gray.50");
  --color-background: #f5e8de;
  --color-background-offset: #2b1b17;
  --color-border: theme("colors.gray.900" / 10%);
  --color-border-offset: theme("colors.gray.50");
  --color-accent: #eca766;
}

[data-theme="dark"] {
  --color-primary: #e8c7ae;
  --color-secondary: #5a352c;
  --color-text: theme("colors.gray.50");
  --color-text-offset: theme("colors.gray.800");
  --color-background: #2b1b17;
  --color-background-offset: #f5e8de;
  --color-border: theme("colors.gray.900" / 10%);
  --color-border-offset: theme("colors.gray.800");
  --color-accent: #b56a3d;
}
