---
export interface Props {
  id: string;
  title: string;
  classes?: string;
  textColor?: "text-default" | "text-offset";
}

const { title, id, classes = "", textColor = "text-display" } = Astro.props;
---

<section
  id={id}
  class=`flex scroll-mt-24 flex-col items-center gap-4 space-y-8 p-12 relative ${classes}`
>
  <div class="flex flex-col items-center gap-4">
    <slot name="eyebrow" />
    <h2 class=`text-center font-extrabold tracking-tight text-6xl ${textColor}`>
      {title}
    </h2>
  </div>
  <p class="text-display max-w-xl text-center font-extrabold text-2xl">
    <slot name="lead" />
  </p>
  <slot class="w-full" />
</section>
