---
interface Props {
  imageUrl: string;
  name: string;
  role: string;
  description?: string;
}

const { imageUrl, name, description } = Astro.props;
---

<article
  class="article relative flex max-w-sm flex-col items-center justify-between gap-4 border-2 border-offset p-6"
>
  <div class="relative h-full w-full overflow-hidden">
    <img
      src={imageUrl}
      alt={name}
      class="h-96 w-64 rounded-xl object-cover grayscale transition-all duration-500 ease-in-out hover:grayscale-0"
    />
    <div
      class="overlay-text text-text absolute inset-1 bottom-0 left-0 right-0 top-0 -translate-y-full overflow-hidden rounded-xl bg-gray-900 p-2 opacity-0"
    >
      {description}
    </div>
  </div>
  <p class="text-center font-extrabold text-xl">{name}</p>
</article>

<style>
  .overlay-text {
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  /* Expand the overlay text from bottom to top when hovering the image */
  .article:hover .overlay-text {
    opacity: 1;
    transform: translateY(0);
  }
</style>
