@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-heading: 'Manrope';
    --font-body: 'Manrope';
    --background: 60 5% 94%;
    --foreground: 240 5% 10%;
    --primary: 240 0% 10%;
    --primary-foreground: 60 0% 100%;
    --secondary: 240 4% 85%;
    --secondary-foreground: 30 40% 75%;
    --accent: 240 0% 87%;
    --accent-foreground: 26 56% 81%;
    --destructive: 0 60% 50%;
    --destructive-foreground: 0 0% 2%;
    --muted: 270 2% 25%;
    --muted-foreground: 60 5% 94%;
    --card: 240 4% 90%;
    --card-foreground: 60 5% 10%;
    --popover: 240 5% 85%;
    --popover-foreground: 60 5% 15%;
    --border: 26 56% 80%;
    --input: 26 56% 80%;
    --ring: 26 56% 80%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply antialiased bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
