---
import HeroImage from "~/components/atoms/hero-image.astro";
import type { FooterLink } from "~/types";
import SocialList from "~/components/molecules/social-list.astro";
import Link from "../atoms/link.svelte";
const links: Array<FooterLink> = [
  {
    url: "https://instagram.com/",
    description: "Instagram",
    icon: "uil:instagram",
  },
  {
    url: "https://facebook.com/",
    description: "Facebook",
    icon: "mdi:facebook",
  },
  {
    url: "mailto:cecilepechin.pro@gmail.com",
    description: "Email",
    icon: "mdi:email",
  },
  {
    url: "tel:0659200000",
    description: "Call us",
    icon: "mdi:phone",
  },
];
---

<footer
  class="relative flex h-64 items-center justify-center bg-black text-white"
>
  <div
    class="absolute inset-0 flex flex-col items-center justify-center overflow-hidden"
  >
    <div class="absolute bottom-4 px-6 text-center text-xs">
      <p>© 2023 SC Coiffure Tous droits réservés</p>
      <Link href="/legal">Mentions Légales</Link> -
      <Link href="/privacy">Politique de confidentialité</Link>
    </div>
  </div>
  <SocialList links={links} />
</footer>
