---
import { Icon } from "astro-icon";
import ContentSection from "~/components/molecules/ContentSection.astro";

type CTAElement = {
  label: string;
  href: string;
  icon: {
    pack: string;
    name: string;
  };
};

const ctas: CTAElement[] = [
  {
    label: "Découvrir nos services",
    href: "/#services",
    icon: {
      pack: "mdi",
      name: "scissors",
    },
  },
  {
    label: "Explorer nos travaux",
    href: "/gallery/#pics",
    icon: {
      pack: "mdi",
      name: "image",
    },
  },
  {
    label: "Découvrir nos produits",
    href: "/#products",
    icon: {
      pack: "mdi",
      name: "lotion",
    },
  },
];
---

<ContentSection id="intro">
  <Fragment slot="title">
    <h2 class=`text-center font-extrabold tracking-tight text-6xl text-display`>
      SC Coiffure
    </h2>
  </Fragment>

  <Icon slot="eyebrow" name="logomark" class="h-48 text-default" />
  <div class="container">
    <div class="flex flex-col items-center gap-4">
      <p class="text-text max-w-xl text-center text-sm">
        Adoptez la SC attitude et <span class="text-accent">sublimez</span>
        votre style. Avec <span class="text-accent">chaleur et expertise</span>,
        Séverine et Cécile vous accueillent dans leur salon installé sur le <span
          class="text-accent">port</span
        >
        de La Seyne-sur-Mer.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-2 text-offset sm:grid-cols-2">
    {
      ctas.map((cta, i) => (
        <a
          href={cta.href}
          class={`flex items-center justify-center gap-3 border-2 border-default px-6 py-4 text-default dark:border-white ${
            ctas.length % 2 !== 0 && i === ctas.length - 1
              ? "sm:col-span-2 sm:mx-auto"
              : ""
          }`}
        >
          <Icon pack={cta.icon.pack} name={cta.icon.name} class="h-10" />
          <span class="m-auto  text-center font-medium">{cta.label}</span>
        </a>
      ))
    }
  </div>
</ContentSection>
