---
import { Icon } from "astro-icon";
import ContentSection from "~/components/molecules/ContentSection.astro";
import type { Service } from "~/types";

const services: Array<Service> = [
  {
    title: "Excellence des produits français",
    description:
      "Dans notre salon, l'authenticité règne. Des produits français de qualité dans une atmosphère chaleureuse, pour une expérience locale.",
    icon: "openmoji:flag-france",
  },
  {
    title: "En toute amitié",
    description:
      "Des coupes qui riment avec convivialité. On travaille sur votre style dans une ambiance amicale et détendue.",
    icon: "mdi:account-group",
  },
  {
    title: "Ambiance conviviale près de chez vous ",
    description:
      "Offrez-vous une pause bien-être sans aller loin. Des soins de qualité, à deux pas de chez vous.",
    icon: "mdi:coffee",
  },
];
---

<ContentSection id="services" classes="bg-offset">
  <Fragment slot="title">
    <h2 class=`text-center font-extrabold tracking-tight text-6xl text-offset`>
      Services
    </h2>
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 sm:grid-cols-2">
    {
      services.map(({ title, description, icon }, i ) => (
        <li class=`flex flex-col items-center gap-4 p-6 ${services.length % 2 !== 0 && i === services.length -1 ? "sm:col-span-2 sm:mx-auto" : ""}`>
          <div class="h-24 w-24 rounded-full border-2 border-offset p-3">
            <Icon name={icon} class="text-offset" />
          </div>
          <p class="text-center font-extrabold text-primary text-lg">{title}</p>
          <p class="text-center text-offset text-xs">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
